body {
   -webkit-user-select: none;
}

body {
   -webkit-tap-highlight-color: transparent;
}

body {
   -webkit-touch-callout: none;
}

@import '~semantic-ui-css/semantic.min.css';

.ui.fullscreen.modal {
    width: 100%!important;
    left: unset!important;
    height: 100vh;
    margin: 0;
}

.modals.dimmer .ui.scrolling.modal {
    margin: 0;
}

.flag-dropdown {
    display: none;
}